/* ========== Header Section Start ========== */
#header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
}

#header.header-scrolled {
    padding: 8px 0px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo img {
    max-height: 56px;
}

/* =================================================================== */
.category-menu {
    width: 100%;
}

/* =================================================================== */
/*--------------------------------------------------------------
# Sach Button
--------------------------------------------------------------*/
#header.header-scrolled .navbar ul li .btn-sach {
    padding: 10px 16px;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/* ========== Desktop Navigation  ========== */
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 600;
    color: var(--theme-dark-2);
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i.dropdown-icon-down,
.navbar a:focus i.dropdown-icon-down {
    margin-left: 15px;
    background: url('../img/icons/dropdown-icon-down.svg') no-repeat;
    height: 7px;
    width: 10px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: var(--theme-orange);
}

.navbar .dropdown ul:not(.mm-item) {
    display: block;
    position: absolute;
    left: 30px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px 0px rgb(238 108 77 / 30%);
    transition: 0.3s;
    border-radius: 16px;
    /* width: auto; */
    /* padding: 12px 15px; */
    min-width: 275px;
    /* box-shadow: 0 0 10px 0px rgb(0 0 0 / 60%); */
}

.mm-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
}

.navbar .dropdown ul li {
    min-width: 250px;
    position: static;
}

.navbar ul li.separator {
    background: #DFD6E5;
    height: 40px;
    width: 1px;
    margin: 0px 20px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-inline: 15px;
}

.navbar .dropdown ul li a.head-title {
    font-size: 20px;
    font-weight: 700;
}

.navbar .dropdown ul li a.head-title:hover {
    color: var(--theme-dark-2);
    background: none;
    cursor: default;
}

.navbar .dropdown ul a i.dropdown-icon-right {
    margin-left: 15px;
    background: url(../img/icons/dropdown-icon-right-2.svg) no-repeat;
    height: 15px;
    width: 8px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul a:focus-visible,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    background: rgba(238, 108, 77, 0.10);
    color: var(--theme-orange);
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown:not(:hover)>ul {
    pointer-events: none;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}


.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

.navbar ul li.dropdown ul.megamenu {
    min-width: 780px;
    right: 0px;
}

.navbar ul li.dropdown ul.megamenu a {
    position: relative;
    display: inline-flex;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

/* ========== Mobile Navigation  ========== */
.mobile-nav-toggle {
    color: #111111;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #111111;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #e03a3c;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

nav#navbar ul li a.nav-link span.btn {
    padding: 11px 20px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: var(--theme-orange);
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
    position: relative !important;
    left: 0px !important;
    margin-top: 15px;
    bottom: auto;
}

/* ======================================== */
/* .categoriesDDL {} */

/* ================================= */
#notification {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #DFD6E5;
    border-radius: 200px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profileMenu {
    padding: 0px 10px;
}

#profileMenu img {
    height: 40px;
    width: 40px;
}

ul.profileMenu {
    right: 0px;
    left: auto !important;
    padding: 12px !important;
    min-width: auto !important;
}

ul.profileMenu li {
    min-width: 200px !important;
}

ul.profileMenu li a.token-btn {
    background: var(--theme-orange) !important;
    color: #fff;
    justify-content: center !important;
    align-items: center;
    padding: 4px 0px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

ul.profileMenu li a.token-btn:hover {
    color: #fff !important;
}

ul.profileMenu li a {
    justify-content: start !important;
    margin: 0px 0px 5px !important;
    padding: 4px 10px !important;
}

ul.profileMenu li a:hover {
    color: var(--theme-orange) !important;
}

ul.profileMenu li a img {
    height: 20px;
    width: 20px;
}

ul.profileMenu li a span {
    padding-left: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.profile-data {
    display: flex;
    align-items: center;
    margin: 5px 0px 12px 0px;
}

.profile-data img {
    height: 40px;
    width: 40px;
}

.profile-data .data-inner {
    padding: 0px 15px;
}

.profile-data .data-inner h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    margin: 0px;
}

.profile-data .data-inner span {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: var(--theme-dark-2);
}

/* ========== Header Section End ========== */


/* ========== Footer Section Start ========== */
footer {
    background-attachment: fixed;
}

footer .logo {
    width: auto;
    height: 56px;
    max-width: 100%;
    margin: 5px 0px;
}

.social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.social-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 10px 0 10px;
    font-size: 20px;
}

.social-links ul li a {
    color: var(--theme-dark);
}

.social-links ul li a:hover {
    color: var(--theme-orange);
}

.footer-nav .nav-item,
.footer-nav a {
    display: inline-block;
}

.footer-nav a {
    font-weight: 400;
    font-size: 16px;
    color: var(--theme-dark);
}

.footer-nav a:hover {
    color: var(--theme-orange);
}

.copyright-info {
    font-size: 14px;
}

ul.copyright-footer {
    margin-bottom: 0px;
}

ul.copyright-footer li {
    display: inline-block;
    padding: 0 0 0 10px;
}

ul.copyright-footer li a {
    color: var(--theme-dark);
    text-decoration: none;
    font-size: 14px;
}

ul.copyright-footer li a span {
    font-size: 5px;
    vertical-align: middle;
}

.border-dash {
    border-top: 1px dashed;
    border-color: var(--theme-dark);
}

@media (max-width: 767px) {
    .social-links {
        margin-block: 15px;
        align-items: center;
    }

    .social-links ul li {
        padding: 0 20px 0 20px;
    }

    ul.footer-nav {
        display: flex;
        flex-flow: wrap;
        justify-content: space-evenly;
        margin-top: 15px;
    }

    .footer-nav a {
        padding-block: 4px;
    }

    .navbar .dropdown ul:not(.mm-item) {
        background: transparent;
        box-shadow: none;
    }
}

@media (min-width: 768px) {
    .social-links {
        align-items: end;
    }
}

@media (max-width: 992px) {
    footer {
        padding-block: 20px;
    }
}

@media (min-width: 992px) {
    ul.footer-nav li:first-child a {
        padding-left: 0px;
    }
}

/* ========== Footer Section End ========== */

.categories-menu {
    position: fixed !important;
    top: 96px !important;
    left: 0 !important;
    right: 0px;
    border-radius: 0px !important;
    opacity: 1 !important;
    visibility: visible !important;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    box-shadow: none !important;
    pointer-events: all !important;
    height: 48px;
    display: flex !important;
    align-items: center !important;
    padding: 0px 0px !important;
    transition: all 0.5s;
}

header.header-scrolled .categories-menu {
    top: 70px !important;
}

.v-scroll>div.dropdown {
    width: fit-content;
    min-width: initial !important;
    position: relative !important;
}

.v-scroll>div.dropdown ul li {
    min-width: initial !important;
}

/* .v-scroll>li.dropdown:hover>ul {
    left: 0 !important;
    position: absolute;
    top: 45px !important;

} */

/* .v-scroll>li.dropdown>a {
    width: fit-content;
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: var(--theme-dark-2);
    padding: 0px;
} */

/* .v-scroll>li.dropdown>a:hover {
    background: none !important;
} */

/* .v-scroll>li.dropdown>ul>li {
    left: -25px;
    transform: translate(50%, 80%);
} */

.v-scroll {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 48px;
    /* overflow-x: auto; */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.v-scroll::-webkit-scrollbar {
    display: none;
}

.v-scroll .dropdown-toggle {
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: var(--theme-dark-2);
}

.v-scroll .dropdown-toggle::after {
    content: '';
    height: 10px;
    width: 14px;
    border: none;
    background: url(../img/icons/dropdown-icon-down.svg) no-repeat;
    background-position: center;
    position: relative;
    transform: translate(2px, 3px);
}

.v-scroll .dropdown-menu {
    left: 0 !important;
    top: 100% !important;
    visibility: visible !important;
    min-width: initial !important;
}

.v-scroll .dropdown-menu li {
    padding: 0px 8px;
}

.v-scroll .dropdown-menu li .dropdown-item {
    margin: 0px;
    padding: 8px 14px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: var(--theme-dark);
}