@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --theme-orange: #EE6C4D;
    --theme-orange-08: rgba(238, 108, 77, 0.08);
    --thead-bg: #F7F4F2;
    --theme-text: #C2B0CF;
    --theme-dark: #201429;
    --theme-darker: #1A1021;
    --theme-dark-2: #4D4354;
    --theme-red: #E34444;
    --light-bg: #fefaf8;
    --sach-font: Manrope;
    --border-color: #DFD6E5;

    --active: #DBF6E3;
    --pending: #FDE5B1;
    --inactive: #FCC7B5;
    --new: #D4CCFF;

    --bg-1: #EE6C4D;
    --bg-2: #FEAD64;
    --bg-3: #55AB31;
    --bg-4: #7B61FF;
    --bg-5: #37C5AB;
    --bg-6: #AA62E3;

    --dash-bg-1: #D3E5FF;
    --dash-fg-1: #B4CDF1;
    --dash-bg-2: #D9F6D0;
    --dash-fg-2: #B6E3A9;
    --dash-bg-3: #FFF4E6;
    --dash-fg-3: #FBDAB3;
    --dash-bg-4: #E1DBFF;
    --dash-fg-4: #C8BEFC;
}

body {
    font-family: var(--sach-font);
    max-width: 100vw;
    overflow-x: hidden;
    color: var(--theme-dark);
}

.dlabnav-scroll::-webkit-scrollbar {
    display: none;
}

.dlabnav-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: scroll;
}

a {
    color: var(--theme-dark-2);
    text-decoration: none;
}

a:hover {
    color: var(--theme-orange);
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: 0 0;
    position: absolute
}

body::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #dadada
}

.h-100v {
    height: 100vh;
}

.w-100v {
    width: 100vw;
}

.nowrap {
    white-space: nowrap;
}

.ws-normal {
    white-space: normal !important;
}

hr:not([size]) {
    height: 1px;
}

.admin-hr {
    background-color: var(--border-color);
    opacity: 1;
    margin-block: 0.5rem;
    border: 0;
}

/* ========== Colors & Background Start ========== */
.theme-orange,
.text-sach {
    color: var(--theme-orange) !important;
}

.theme-dark {
    color: var(--theme-dark) !important;
}

.bg-sach,
.sach-bg {
    background-color: var(--theme-orange) !important;
}

.bg-sach-dark {
    background-color: var(--theme-dark) !important;
}

.bg-sach-dark-2 {
    background-color: var(--theme-dark-2) !important;
}

.bg-sach-red {
    background-color: var(--theme-red) !important;
}

.bg-sach-grey {
    background-color: var(--theme-text) !important;
}

.light-bg {
    background-color: var(--light-bg) !important;
}

.text-theme-dark-2 {
    color: var(--theme-dark-2);
}

/* ========== Colors & Background End ========== */

/* ========== breadcrumb Start ========== */
.sach-breadcrumb {
    --bs-breadcrumb-divider: url("data:image/svg+xml,%0A%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.999841 7.33342C0.829175 7.33342 0.658508 7.26808 0.528508 7.13808C0.267841 6.87742 0.267841 6.45608 0.528508 6.19542L2.73184 3.99208L0.611841 1.79675C0.356508 1.53142 0.363841 1.10942 0.628508 0.854085C0.893841 0.598751 1.31584 0.606085 1.57117 0.870085L4.14584 3.53675C4.39851 3.79875 4.39518 4.21408 4.13784 4.47142L1.47117 7.13808C1.34117 7.26808 1.17051 7.33342 0.999841 7.33342' fill='%234D4354'/%3E%3C/svg%3E%0A");
    ;
}

.sach-breadcrumb :is(ol, ul) {
    margin: 20px 0 10px;
}

.sach-breadcrumb :is(ol, ul) li {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

/* ========== breadcrumb End ========== */

/* ========== Sach Checkboxes & Radios Start ========== */
.sach-check {
    display: inline-flex;
    align-items: center;
    margin: 5px 20px 5px 0px;
}

.sach-check .form-check-input:checked[type=radio] {
    box-shadow: inset 0px 0px 0px 2px #ffffff, 0px 0px 0px 0px var(--theme-orange);
    background: var(--theme-orange);
}

.sach-check .form-check-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    user-select: none;
    color: var(--theme-dark-2);
    margin: 0px 0px 0px 8px;
}

/* ========== Sach Checkboxes & Radios End ========== */

/* ========== sach-btn-group Start ========== */
/* .sach-btn-group {} */

/* .sach-btn-group input.btn-check {} */

.sach-btn-group input.btn-check:checked+.btn-outline-primary {
    background-color: var(--theme-orange-08);
    color: var(--theme-orange);
}

.sach-btn-group input.btn-check:is(:active)~label.btn {
    color: var(--theme-orange);
}

.sach-btn-group label.btn {
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding: 7px 13px;
    color: var(--theme-dark-2);
    border-radius: 8px;
    border-color: var(--theme-dark-2);
    box-shadow: none !important;
}

.sach-btn-group label.btn:hover {
    border-color: var(--theme-orange);
    background-color: var(--theme-orange-08);
}


textarea::-webkit-scrollbar {
    background-color: #f5f5f5;
    width: .5rem;
    height: .5rem
}

textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 .375rem rgba(0, 0, 0, .3);
    border-radius: .625rem;
    background-color: #f5f5f5
}

textarea::-webkit-scrollbar-thumb {
    border-radius: .625rem;
    box-shadow: inset 0 0 .375rem rgba(0, 0, 0, .3);
    background-color: var(--theme-orange)
}

/* ========== sach-btn-group End ========== */

/* ========== Button Start ========== */
.btn-sach,
.btn-sach-2 {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--theme-orange);
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    transition: 400ms !important;
}

.btn-sach-lg {
    padding-inline: 100px;
}

.btn-sach.btn-success {
    background: var(--bg-3) !important;
}

.btn-sach.btn-success:is(:hover, :focus, :active) {
    box-shadow: 0 0 0 0.25rem rgba(86, 171, 49, 0.2) !important;
}

.btn-sach.btn-sm,
.btn-sach-linear.btn-sm,
.btn-sach-2.btn-sm {
    font-weight: 700;
    font-size: 14px !important;
    line-height: 16px;
    padding: 8px 12px;
}

.btn-sach-sm {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.btn-sach {
    color: #fff !important;
}

.btn-sach svg {
    transition: 400ms;
    fill: #fff;
}

.btn-sach.btn-sach-linear svg {
    transition: 400ms;
    fill: currentColor;
}

.btn-sach:is(:hover, :focus, :active) {
    box-shadow: 0 0 0 0.25rem rgb(237 109 76 / 20%);
}

.btn-sach img {
    margin-left: 10px;
    fill: #fff;
}

.btn-sach-2 {
    color: var(--theme-orange) !important;
    background: rgba(238, 108, 77, 0.16);
    border-radius: 8px;
}

.btn-sach-2 img {
    margin-right: 8px;
}

.btn-sach-2:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(238 108 77 / 40%);
}

.btn-sach.bg-sach-grey {
    color: var(--theme-dark) !important;
}

.btn-sach.btn-sach-linear {
    background: #FFFFFF;
    border: 1px solid var(--theme-dark-2);
    color: var(--theme-dark-2) !important;
    padding-block: 7px;
}

.btn-sach.btn-sach-linear-theme {
    background: #FFFFFF;
    border: 1px solid var(--theme-orange);
    color: var(--theme-orange) !important;
    padding-block: 7px;
    fill: var(--theme-orange);
}

.btn-sach.btn-sach-linear-theme.btn-sach-sm {
    padding: 3px 10px;
}


.btn-sach.btn-sach-linear:is(:hover, :focus, :active) {
    box-shadow: 0 0 0 0.25rem rgb(32 20 41 / 20%);
}

.btn-sach.bg-sach-dark:is(:hover, :focus, :active) {
    background: var(--theme-orange) !important;
    border-color: var(--theme-orange) !important;
    /* border-style: solid; */
}

.btn-sach.btn-circle {
    border-radius: 40px;
    width: 40px;
    height: 40px;
    padding: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-sach.btn-circle svg {
    transform: scale(1.4);
}

.ghost-btn {
    background: #FFFFFF;
    border: 1px solid var(--border-color);
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px 12px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #201429;
}

.ghost-sach:hover {
    border-color: var(--theme-orange);
}

.ghost-btn.form-align {
    margin-top: 25px;
}

.ghost-btn-or {
    font-weight: 500;
    align-self: center;
    text-align: center;
    margin-top: 25px !important;
    font-size: 14px;
}

/* ========== Button End ========== */

/* ========== Inline List Start ========== */
.inline-list {
    display: flex;
}

.inline-list li {
    margin-inline: 4px;
}

.inline-list li:first-child {
    margin-left: 0px;
}

.inline-list li:last-child {
    margin-right: 0px;
}

.inline-bullet-list {
    display: flex;
    margin: 5px 0px;
}

.inline-bullet-list li {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: var(--theme-dark-2);
}

.inline-bullet-list li svg {
    height: 14px;
    width: 14px;
}

.inline-bullet-list li:first-child::before {
    display: none;
}

.inline-bullet-list li::before {
    content: '•';
    margin-inline: 5px;
}

/* ========== Inline List End ========== */

/* ========== Badge - Rounded-Pills Start ========== */
.underConstruction {
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.underConstruction img {
    height: auto;
    width: 180px;
    max-width: 100%;
}

.underConstruction h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.5px;
    margin: 10px 0px 0px;
}

/* ========== Badge - Rounded-Pills Start ========== */
.badge.linear-badge {
    background: var(--thead-bg);
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    border-color: var(--border-color);
    color: var(--theme-dark-2);
    padding-top: 1px;
    padding-bottom: 1px;
}

/* ========== Badge - Rounded-Pills End ========== */


/* ========== Form Start ========== */
.sach-form {
    position: relative;
    margin-block: 10px;
}

.sach-form .form-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-decoration-line: underline;
    color: var(--theme-orange);
    float: right;
}

.sach-form .form-label {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 4px;
    color: var(--theme-dark-2);
}

.sach-form>small {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    margin-top: 2px;
    display: block;
    color: var(--theme-dark-2);
    opacity: 0.8;
}

.sach-form .form-label small {
    color: var(--theme-red);
}

.sach-form .form-control {
    background: #FFFFFF;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding-block: 11px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #212529;
}

.sach-form .form-control.not-form {
    padding: 0px !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    font-size: 16px;
    height: 2rem;
}

.sach-form .form-control.round {
    border-radius: 4px !important;
    margin-right: 10px;
}

.sach-form .form-control.round~.btn-sach {
    border-radius: 8px !important;
    height: 50px;
    width: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sach-form .form-control.invalid {
    border-color: var(--theme-red);
}

.sach-form.sach-form-OTP .form-control {
    display: inline-block;
    width: 50px;
    margin-right: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    transition: 400ms;
}

.sach-form .form-control:hover {
    border-color: rgb(238 108 77 / 60%);
}

.sach-form .form-control:focus {
    background-color: #fff;
    border-color: rgb(238 108 77 / 60%);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(238 108 77 / 20%);
}

.form-control:focus,
.form-control:active {
    border-color: rgb(238 108 77 / 60%);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(238 108 77 / 20%);
}

.sach-form .icon-group-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: #000000;
    margin-bottom: 15px;
}

.sach-form .icon-group-title img {
    height: 24px;
    width: auto;
    margin-left: 5px;
    position: relative;
    top: -2px;
}

.sach-form .icon-group-para {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--theme-dark-2);
    margin-bottom: 15px;
}


.sach-form .icon-group {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
}

.sach-form .icon-group li {
    margin-right: 20px;
    margin-bottom: 15px;
}

.sach-form .icon-group li label {
    background: #FFFFFF;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    color: var(--theme-dark) !important;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
}

.sach-form .icon-group li .btn-check:active+.btn-outline-primary,
.sach-form .icon-group li .btn-check:checked+.btn-outline-primary,
.sach-form .icon-group li .btn-outline-primary.active,
.sach-form .icon-group li .btn-outline-primary.dropdown-toggle.show,
.sach-form .icon-group li .btn-outline-primary:active {
    background-color: rgb(238 108 77 / 10%);
    border-color: var(--theme-orange);
}

.sach-form .icon-group li .btn-check:active+.btn-outline-primary:focus,
.sach-form .icon-group li .btn-check:checked+.btn-outline-primary:focus,
.sach-form .icon-group li .btn-outline-primary.active:focus,
.sach-form .icon-group li .btn-outline-primary.dropdown-toggle.show:focus,
.sach-form .icon-group li .btn-outline-primary:active:focus {
    box-shadow: 0 0 0 0.25rem rgb(238 108 77 / 30%);
}

.sach-form .icon-group li .btn-check:focus+.btn-outline-primary,
.sach-form .icon-group li .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem rgb(238 108 77 / 30%);
}

.sach-form .icon-group li label img {
    margin-right: 10px;
    height: 24px;
    width: 24px;
}

.cstm-slct {
    background: var(--thead-bg);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 8px 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    color: var(--theme-dark);
}

/* ========== Form End ========== */

/* ========== Searchbar Start ========== */
.sach-input-group.input-group {
    display: inline-flex;
    width: auto;
    background: #FFFFFF;
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

.sach-input-group.input-group .input-group-text {
    background: transparent;
    border: none;
    padding-block: 0px;
}

.sach-input-group.input-group .form-control {
    box-shadow: none;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    padding-left: 0px;
    padding-block: 8px;
    height: auto;
    color: var(--theme-dark);
}

.sach-input-group .btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
    height: 56px;
    background: transparent;
    color: var(--theme-dark);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin-bottom: 20px;
}

.sach-input-group .btn-group button {
    background: transparent;
    color: var(--theme-dark);
    border: none;
    box-shadow: none !important;
}

.searchbar .btn-group button img {
    margin-left: 10px;
    margin-right: 5px;
}

.sach-input-group .btn-group button::after {
    display: none;
}

.sach-input-group .btn-group .dropdown-menu {
    padding-block: 12px;
    border-radius: 16px;
    top: 20px !important;
    border: 1px solid rgb(223, 214, 229);
}

.sach-input-group .btn-group .dropdown-menu::before {
    content: "";
    transform: rotate(45deg) skew(10deg, 10deg);
    position: absolute;
    top: -13px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: white;
    border-top-left-radius: 6px;
    border: 1px solid rgb(223, 214, 229);
    border-bottom: none;
    border-right: none;
}

.sach-input-group .btn-group .dropdown-menu .dropdown-item {
    background: transparent !important;
}

.sach-input-group .btn-group .dropdown-menu .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--theme-dark);
}


.sach-input-group .btn-group .dropdown-menu .dropdown-item .form-check .form-check-input:checked {
    background-color: var(--theme-orange);
    border-color: var(--theme-orange);
    box-shadow: none;
}

.sach-input-group .btn-group .dropdown-menu .dropdown-item .form-check .form-check-input:focus {
    border-color: var(--theme-orange);
    outline: 0;
    box-shadow: 0 0 0px 3px rgb(238 108 77 / 50%);
}

.sach-input-group .btn-group .dropdown-menu .dropdown-item .form-check .form-check-input {
    position: relative;
    top: 3px;
}

.sach-input-group .btn-group .dropdown-menu .dropdown-item .form-check .form-check-label,
.sach-input-group .btn-group .dropdown-menu .dropdown-item:not(.title) {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: var(--theme-dark) !important;
}

.sach-input-group .btn-group .dropdown-menu .dropdown-item .form-check .form-check-label i {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--theme-dark-2);
}

/* ========== Searchbar End ========== */

/* ========== Font Weight Start ========== */
.f-500 {
    font-weight: 500;
}

.f-600 {
    font-weight: 600;
}

.f-700 {
    font-weight: 700;
}

.f-800 {
    font-weight: 800;
}

.f-900 {
    font-weight: 900;
}

/* ========== Font Weight End ========== */

/* ========== Section Block Gap Start ========== */
.my-gap-6 {
    margin-block: 60px;
}

.my-gap-7 {
    margin-block: 70px;
}

.my-gap-8 {
    margin-block: 80px;
}

.my-gap-9 {
    margin-block: 90px;
}

.my-gap-10 {
    margin-block: 100px;
}

/* ========== Section Block Gap End ========== */


/* ========== Sach Title Start ========== */
.sach-title h1 {
    margin-bottom: 20px;
    font-size: 3rem;
}

.sach-title h1.fs-40 {
    font-size: 40px;
}

.sach-title h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}

.sach-title h2+p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.sach-title h5 {
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: var(--theme-orange);
}

.sach-title span.o {
    color: var(--theme-orange);
}

.sach-title p {
    font-weight: 600;
    line-height: 32px;
    color: var(--theme-dark-2);
}

.sach-title.indv h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
}

/* ========== Sach Title End ========== */

/* ========== Sach Modal Start ========== */
.sach-modal .modal-content {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 15px;
}

.sach-modal .modal-close {
    position: absolute;
    top: 25px;
    right: 15px;
    border: 1px solid var(--border-color);
    border-radius: 100px;
    cursor: pointer;
    transition: 400ms;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sach-modal .modal-close:hover {
    background-color: var(--theme-dark);
    box-shadow: 0 0 0 2px var(--border-color);
}

.sach-modal .modal-close i {
    font-size: 24px;
    transition: 400ms;
    color: var(--theme-dark-2);
    text-shadow: 0px 0px 1px var(--theme-dark-2);
}

.sach-modal .modal-close i:hover {
    transform: rotate(180deg);
    color: #fff;
}

.sach-modal .modal-close svg {
    width: 24px;
    height: 24px;
    transition: 400ms;
}

.sach-modal .modal-close svg:hover {
    transform: rotate(180deg);
}

.modal-heading {
    margin-bottom: 15px;
}

.modal-heading h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -0.5px;
    margin: 0;
}

.modal-heading span {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--theme-dark-2);
}

/* ========== Sach Modal End ========== */


/* ========== Page Header (Title) Start ========== */
.page-header {
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: center;
}

.page-header .page-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.5px;
    margin: 0px;
    display: inline-block;
}

.page-header .page-sub-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: var(--theme-dark);
    display: block;
}

.menu-toggle .content-body .page-header .page-title,
.menu-toggle .content-body .page-header .page-sub-title {
    padding-left: 40px;
}

.page-header .page-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--theme-dark);
}

.page-header .back-btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: var(--theme-dark-2);
}

.page-header .back-btn img {
    margin-right: 8px;
    transition: 400ms;
}

.page-header .back-btn:hover img {
    transform: translateX(-5px);
}

.page-header .sach-input-group {
    transition: 400ms;
}

.page-header .sach-input-group:hover {
    border-color: var(--theme-orange);
    box-shadow: 0 0 0 0.25rem rgb(237 109 76 / 10%);
}

.page-header .txt-bdAu {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: var(--theme-text);
    display: flex;
    align-items: center;
}

.page-header .dvdr {
    width: 1px;
    height: 24px;
    display: inline-block;
    background: var(--border-color);
}

.page-header .dvdr.w2 {
    width: 2px;
}

.page-header :is(.btn, .btn-sach, .btn-sach-linear) span {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

/* ========== Page Header (Title) End ========== */

/* ========== Sach Admin Tabs Start ========== */
.sach-admin-tabs ul.nav {
    margin-bottom: 5px;
}

.sach-admin-tabs.b-bottom ul.nav {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 4px;
}

.sach-admin-tabs ul.nav li {
    margin-right: 10px;
}

.sach-admin-tabs ul.nav li:last-child {
    margin-right: 0px;
}

.sach-admin-tabs ul.nav li button {
    position: relative;
    box-shadow: none;
    background: transparent;
    color: var(--theme-dark-2);
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    border-radius: 0px;
    padding: 0px 5px;

}

.sach-admin-tabs ul.nav li button:hover {
    color: var(--theme-orange);
}

.sach-admin-tabs ul.nav li button.active {
    box-shadow: none;
    background: transparent;
    color: var(--theme-orange);
}

.sach-admin-tabs ul.nav li button.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0px;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background: var(--theme-orange);
}

/* ========== Sach Admin Tabs End ========== */


/* ========== Sach Admin Table Start ========== */
table.sach-admin-table thead {
    background-color: var(--thead-bg);
    border-width: 1px 0px;
    border-style: solid;
    border-color: rgba(32, 20, 41, 0.08);
}

table.sach-admin-table thead tr th {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: var(--theme-dark);
    padding: 11.5px 8px;
    cursor: pointer;
    border-right: 1px solid var(--border-color);
}

table.sach-admin-table thead tr th:last-child {
    border-right: none;
}

table.sach-admin-table tbody tr {
    transition: 400ms;
    border-bottom: 1px solid rgba(32, 20, 41, 0.08);
}

table.sach-admin-table tbody tr:hover,
table.sach-admin-table tbody tr.selected {
    background-color: var(--theme-orange-08);
}

table.sach-admin-table.table-48 tbody tr td {
    height: 48px;
}

table.sach-admin-table tbody tr td {
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: var(--theme-dark);
    height: 56px;
    align-items: flex-start;
    vertical-align: middle;
    padding: 6px 8px;
    white-space: nowrap;
}


table.sach-admin-table.table-bordered tbody tr td {
    border: 1px solid var(--border-color);
}

table.sach-admin-table.table-bordered tbody tr td:first-child {
    border-left: none;
}

table.sach-admin-table.table-bordered tbody tr td:last-child {
    border-right: none;
}

.userName .avtr {
    background: var(--theme-orange);
}

table.sach-admin-table tbody tr:nth-child(1n+0) td .userName .avtr {
    background: var(--bg-1);
}

table.sach-admin-table tbody tr:nth-child(2n+0) td .userName .avtr {
    background: var(--bg-2);
}

table.sach-admin-table tbody tr:nth-child(3n+0) td .userName .avtr {
    background: var(--bg-3);
}

table.sach-admin-table tbody tr:nth-child(4n+0) td .userName .avtr {
    background: var(--bg-4);
}

table.sach-admin-table tbody tr:nth-child(5n+0) td .userName .avtr {
    background: var(--bg-5);
}

table.sach-admin-table tbody tr:nth-child(6n+0) td .userName .avtr {
    background: var(--bg-6);
}

.noneditable {
    padding: 0px;
    outline: none;
    border: none;
    background: transparent !important;
    pointer-events: none;
}

.editable {
    background: #fff;
    height: 100%;
    border-radius: 4px;
    padding: 0px 8px;
    font-weight: 500;
    width: 100%;
    border: 1px dashed var(--theme-orange);
}

.userName {
    display: flex;
    align-items: center;
}

.userName .avtr {
    height: 32px;
    width: 32px;
    border-radius: 32px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userName .avtr span {
    font-weight: 600;
    color: #fff;
}

.userName .avtr img {
    max-width: 100%;
    height: auto;
}

.userName .userData h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    margin: 0px;
    color: var(--theme-dark);
}

.userName .userData ul {
    display: flex;
    list-style: none;
}

.userName .userData ul li {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: var(--theme-dark-2);
    margin-right: 20px;
    position: relative;
}

.userName .userData ul li::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 3px;
    border-radius: 10px;
    background: currentColor;
}

.userName .userData ul li:last-child:after {
    display: none;
}

.userName .userData ul li:last-child {
    margin-right: 0px;
}

.status-btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: var(--theme-dark) !important;
    padding: 2px 10px;
    border-radius: 4px;
    text-transform: capitalize;
    user-select: none;
    white-space: nowrap;
}

.status-btn._active {
    background: var(--active);
}

.status-btn._inactive {
    background: var(--inactive);
}

.status-btn._pending {
    background: var(--pending);
}

.status-btn._new {
    background: var(--new);
}

.btn-sach-dropdown .dropdown-menu.dropdown-menu-end {
    right: 0px;
    left: auto;
}

.action-btn.dropdown:not(.btn-sach-wrap) {
    width: 32px;
    height: 32px;
}

.action-btn.dropdown:not(.btn-sach-wrap) .dropdown-toggle,
.linear-action-btn {
    padding: 0px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 20px;
    color: var(--theme-dark-2);
    transition: 500ms;
    border: 1px solid var(--border-color);
}

.action-btn.dropdown:not(.btn-sach-wrap) .dropdown-toggle:is(:hover, :focus, :active),
.linear-action-btn:hover {
    background: var(--theme-dark-2);
    color: #fff;
    box-shadow: 0 0 0 0.20rem var(--border-color);
}

.action-btn.dropdown .dropdown-toggle::after {
    display: none;
}

.action-btn.dropdown:not(.btn-sach-wrap) .dropdown-toggle svg {
    height: 24px;
    width: 24px;
}

.action-btn.dropdown:not(.btn-sach-wrap) .dropdown-toggle svg path {
    stroke: currentColor;
}

.action-btn.dropdown ul.dropdown-menu {
    background: #FFFFFF;
    box-shadow: 0px 12px 42px rgba(238, 108, 77, 0.1);
    border-radius: 8px;
    padding: 10px;
}

.action-btn.dropdown ul.dropdown-menu li {
    margin-bottom: 4px;
}

.action-btn.dropdown ul.dropdown-menu li:last-child {
    margin: 0px;
}

.action-btn.dropdown ul.dropdown-menu li a {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: var(--theme-dark);
    border-radius: 4px;
    padding: 4px 10px;
}

.action-btn.dropdown ul.dropdown-menu li a:hover {
    background: var(--theme-orange-08);
    color: var(--theme-orange);
}

.action-btn.dropdown ul.dropdown-menu li a img {
    margin-right: 8px;
}

.empty-table {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-table h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.5px;
    margin-bottom: 0px;
    color: var(--theme-dark);
}

.empty-table p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--theme-dark-2);
    margin-bottom: 25px;
}

/* ========== Sach Admin Table End ========== */
/* ========== Quill Editor Configration Start ========== */
.ql-editor {
    min-height: calc(100vh - 100px) !important;
}

/* ========== Quill Editor Configration End ========== */