/* ========== X-Small devices (portrait phones, less than 576px) ========== */
@media (max-width: 576px) {
    body {
        margin-top: 55px;
    }

    #header {
        padding: 10px 0;
    }

    #header .logo img {
        max-height: 35px;
    }

    #navbar ul li .btn-sach,
    #navbar ul li .btn-sach.f {
        width: 100%;
        justify-content: center;
        padding: 8px 10px;
        font-size: 14px;
        margin-block: 10px;
    }

    #categoryHeroVideo .owl-item.center .item .video-container {
        transform: none;
    }

    :is(#sachCommunity, #solutionsVideos, #categoryHeroVideo) .owl-dots {
        margin-block: 0px;
    }

    .searchbar :is(.input-group, .btn-group) {
        padding-block: 0px;
        height: auto;
    }

    .searchbar .btn-group button {
        padding-block: 10px;
    }

    .duration-container .duration {
        padding: 4px 22px;
    }

    .sach-breadcrumb :is(ol, ul) {
        margin: 0px 0 10px;
    }

    .foundation-hero {
        background: none;
    }

    .foundation-hero h1.title {
        font-size: 32px;
        line-height: 1.4;
    }

    .foundation-hero h4.title {
        font-size: 18px;
        line-height: 1.4;
    }

    .loginModal-img {
        display: none;
    }

    .SF-img-cont img.ply-btn {
        height: 50px;
        width: 50px;
    }

    .SF-Title-2 {
        font-size: 40px;
        line-height: 1.1;
    }

    .early-edu-description div div.desc-img img {
        padding-top: 20px;
    }

    .SF-Title-3 {
        font-size: 20px;
        line-height: 30px;
    }

    .dowld-sec {
        flex-direction: column;
        margin-top: 20px;
    }

    .dowld-sec .btn {
        margin-bottom: 20px;
    }

    .scholarship-hero {
        background: none;
        height: calc(100vh - 96px);
        background-position: right center;
        display: flex;
        align-items: center;
    }

    .scholarship-hero .title {
        font-size: 46px;
    }

    .scholarship-hero .download-label {
        margin-top: 20px;
    }

    .scholarship-hero .btn {
        margin-bottom: 10px;
        margin-left: 0px !important;
    }

    .early-edu-description .sach-vijaya-log img {
        width: 140px;
    }

    .early-edu-description {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .grant-hero-section p.h1 {
        font-size: 36px;
        line-height: 1.2;
        width: 100% !important;
    }

    .grant-hero-section p.para {
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 28px;
        width: 100% !important;
    }

    .grant-hero-section .img-container img:not(.ply-btn) {
        border-radius: 10px;
    }

    .DSC-VideoList {
        margin: 20px 5px 20px;
    }

    .emp-approach {
        padding: 15px;
    }

    .emp-approach .sarthi-link {
        flex-direction: column;
    }

    .emp-approach .sarthi-link .linksTo {
        flex-direction: row;
    }

    .emp-approach .sarthi-link .linksTo span {
        font-size: 16px;
    }

    .emp-approach .sarthi-link .link-img {
        transform: rotate(90deg);
    }

    .emp-approach .sarthi-link .linksTo span {
        transform: none !important;
    }

    .DSCShowVideo {
        margin: 10px;
    }

    .DSCShowVideo::before {
        display: none;
    }

    .DSCShowVideo .show-cntnt a.btn {
        margin-top: 10px;
    }

    .DSCShowVideo .show-cntnt span {
        font-size: 14px;
        line-height: 20px;
    }

    .DSCShowVideo .show-cntnt h2 {
        font-size: 25px;
        line-height: 30px;
    }
}

/* ========== Small devices (landscape phones, 576px and up) ========== */
@media (min-width: 576px) {}

/* ========== Medium devices (tablets, 768px and down) ========== */
@media (max-width: 767.98px) {

    .sach-title h1.fs-40 {
        font-size: 28px;
    }

    .sach-title h1 {
        margin-bottom: 10px;
        font-size: 1.8rem;
    }

    .sach-title p {
        font-size: 15px;
        font-weight: 600;
        line-height: 26px;
        text-align: center;
        color: var(--theme-dark-2);
    }

    .filtered-video {
        margin-bottom: 0px;
    }

    .owl-carousel .owl-nav {
        display: none;
    }

    .social-links {
        margin-block: 15px;
        align-items: center;
    }

    .social-links ul li {
        padding: 0 20px 0 20px;
    }

    .guru-img {
        margin-inline: 20px;
        margin-block: 20px;
    }

    ul.footer-nav {
        display: flex;
        flex-flow: wrap;
        justify-content: space-evenly;
        margin-top: 15px;
    }

    .footer-nav a {
        padding-block: 2px;
    }

    .btn-sach {
        padding: 10px 15px;
        font-size: 14px;
        font-weight: 600;
    }

    .play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    .play-btn i::after {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        background: #fff;
        height: 50px;
        width: 50px;
        z-index: 1;
        border-radius: 50%;
        box-shadow: 0 0 1px 5px rgb(255 255 255 / 50%), 0 0 0 10px rgb(255 255 255 / 30%), 0 0 1px 15px rgb(255 255 255 / 10%);
        animation: pulse 0.8s infinite;
    }

    .play-btn i::before {
        position: relative;
        top: -2px;
        right: -3px;
        z-index: 2;
    }

    .play-btn i {
        font-size: 35px;
    }

    .sach-accordion {
        margin-top: 0px;
    }

    .icon-box-section {
        flex-direction: column;
        text-align: center;
    }

    .icon-box-section .icon-box-item {
        min-height: auto;
        border: none !important;
    }

    .icon-box-section.brdrBtm::after {
        display: none;
    }

    .video-card .card-speaker {
        bottom: 30px;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }

    #categoryHeroVideo .owl-stage {
        margin-block: 35px;
    }

    .categories-inner-hero {
        padding-block: 30px;
    }

    .video-description {
        margin-block: 20px;
    }

    .topic-events-card {
        flex-direction: column;
        margin-block: 2px;
    }

    .topic-events-card .img-container img {
        height: 250px;
    }

    .topic-events-card .topic-events-details::before {
        transform: rotate(90deg) translate(-150%, 25%);
        left: 50%;
        top: 0px;
    }

    .topic-events-card .topic-events-details {
        border: 1px solid #DFD6E5;
    }


    /* ========== CMS Pages Start ========== */
    .cms-hero-section {
        height: 350px;
    }

    .cms-hero-section div.h1 {
        font-weight: 800;
        font-size: 40px;
    }

    .cms-hero-section p.para {
        font-size: 18px;
        line-height: 1.5;
        width: 100%;
    }

    .contactUs-form {
        padding-block: 40px;
    }

    .contact-details {
        padding: 30px 0px;
        margin-bottom: 0px;
    }

    .sach-accordion-2 .accordion-item .accordion-button {
        font-size: 18px;
        padding: 15px;
    }

    .cms-para {
        font-size: 16px;
        line-height: 28px;
    }

    .cms-title {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 6px;
    }

    /* ========== CMS Pages End ========== */
    .grant-hero-section {
        padding: 0px;
    }

    .grant-hero-section p.h6 {
        margin-bottom: 0px;
    }

    .grant-hero-section p.h1 {
        font-size: 40px;
        line-height: 1.5;
    }

    .grant-hero-section p.para {
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 30px;
    }

    .grant-hero-section .img-container img {
        border-radius: 10px;
    }

    .grant-hero-section .img-container::after,
    .grant-hero-section .img-container::before {
        display: none;
    }

    .sach-nav-tabs.grant-nav-tabs .nav {
        margin-right: 0px;
    }

    .sach-nav-tabs.grant-nav-tabs {
        flex-direction: column;
    }

    .sach-nav-tabs.grant-nav-tabs .nav.nav-pills {
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .sach-nav-tabs.grant-nav-tabs .nav.nav-pills button:first-child {
        padding-left: 0px;
    }

    .sach-nav-tabs.grant-nav-tabs .nav.nav-pills button:last-child {
        padding-right: 0px;
    }

    .sach-nav-tabs.grant-nav-tabs .tab-content {
        border: none;
        padding-left: 0px;
    }

    .sach-nav-tabs.grant-nav-tabs .tab-content img {
        border-radius: 10px;
    }

    .sach-nav-tabs.grant-nav-tabs .tab-content p {
        text-align: justify;
    }

    .sach-nav-tabs.grant-nav-tabs .tab-content .h1 {
        font-size: 30px;
        line-height: 1.4;
        margin-bottom: 0px;
    }

    .sach-nav-tabs.grant-nav-tabs .tab-content .h5 {
        margin-bottom: 0px;
        line-height: 1.4;
    }
}

/* ========== Medium devices (tablets, 768px and up) ========== */
@media (min-width: 768px) {
    .social-links {
        align-items: end;
    }
}

/* @media (min-width: 768px) and (max-width: 991.98px) {} */

/* ========== Large devices (desktops, 992px and up) ========== */
@media (max-width: 992px) {

    .my-gap-10 {
        margin-block: 60px;
    }

    .guru-arrow {
        display: none;
    }

    .newsletter {
        margin-bottom: 0px;
        padding-block: 60px;
        height: auto;
        background: url(../img/newsletter-bg.svg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .categories-inner-hero {
        margin-bottom: 40px;
        padding-block: 50px;
        height: auto;
        background-size: cover;
        background-position: center;
        background: #f7f4f2;

    }

    :is(#sachCommunity, #solutionsVideos) .owl-dots {
        margin-block: 20px;
    }

    .icon-box-section {
        text-align: center;
    }

    .sach-accordion {
        margin-top: 0px;
    }

    .guru-img.guru-bg-3 {
        margin-top: 30px;
    }
}

@media (min-width: 992px) {
    ul.footer-nav li:first-child a {
        padding-left: 0px;
    }

    .megamenu {
        padding: 25px 50px !important;
        right: 30px;
        left: auto !important;

    }

    .megamenu li a.head-title {
        position: relative;
    }


    .megamenu li a.head-title::before {
        content: '';
        position: absolute;
        left: -35px;
        height: 40px;
        width: 40px;
        border-radius: 8px;
    }

    .megamenu li a.head-title._1:before {
        background: url(../img/icons/megamenu-1.svg) rgba(238, 108, 77, 0.08) no-repeat;
        background-position: center;
    }

    .megamenu li a.head-title._2:before {
        background: url(../img/icons/megamenu-2.svg) rgba(238, 108, 77, 0.08) no-repeat;
        background-position: center;
    }

    .megamenu li a.head-title._3:before {
        background: url(../img/icons/megamenu-3.svg) rgba(238, 108, 77, 0.08) no-repeat;
        background-position: center;
    }

    .megamenu li a.head-title._4:before {
        background: url(../img/icons/megamenu-4.svg) rgba(238, 108, 77, 0.08) no-repeat;
        background-position: center;
    }

    .megamenu li a:not(.head-title):after {
        content: '';
        position: absolute;
        right: -15px;
        background: url(../img/icons/arrow-right-orange.svg) no-repeat;
        height: 24px;
        width: 24px;
        visibility: hidden;
        opacity: 0;
        transition: 0.4s;
    }

    .megamenu li a:hover:not(.head-title):after {
        visibility: visible;
        opacity: 1;
    }

    .megamenu li:hover a {
        background: #fff !important;
        color: var(--theme-orange);
    }

    .guru-arrow img {
        width: 70%;
    }

    /* .megamenu li a:hover {} */
}

/* ========== X-Large devices (large desktops, 1200px and down) ========== */
@media (max-width: 1200px) {
    .guru-img span {
        font-size: 16px;
    }

    .guru-img span.long {
        font-size: 14px;
    }

    .guru-img:is(.guru-bg-1, .guru-bg-3)::before,
    .guru-img:is(.guru-bg-2, .guru-bg-4)::before,
    .guru-img:is(.guru-bg-2, .guru-bg-4)::after {
        display: none;
    }

    .DSC-VideoList {
        min-height: 100%;
        margin-left: 40px;
        overflow: auto;
        max-height: 450px;
    }
}

/* ========== X-Large devices (large desktops, 1200px and up) ========== */
@media (min-width: 1200px) {}

/* ========== XX-Large devices (larger desktops, 1400px and up) ========== */
@media (min-width: 1400px) {}


/* ========== Disable aos animation delay on mobile devices ========== */
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}